
body {
    background-color: #8ec5fc;
    background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);

    .section {
        background: rgb(249, 250, 252);
        background: linear-gradient(315deg, rgba(249, 250, 252, 1) 0%, rgba(227, 238, 250, 1) 100%);
        margin-top: 3em;
        margin-bottom: 3em;
        border-radius: 20px;
        padding: 2.5em;
        box-shadow: 0 0 10px 0px #cccccc38;
        @media screen and (max-width: 991px) {
            padding: 1.5em;
            margin-top: 2em;
            margin-bottom: 2em;
        }
        @media screen and (max-width: 767px) {
            padding: 0.75em;
            margin-top: 1em;
            margin-bottom: 1em;
        }

        nav {
            margin-bottom: 3em;
            @media screen and (max-width: 991px) {
                margin-bottom: 2em;
            }
            @media screen and (max-width: 767px) {
                margin-bottom: 0.5em;
                padding-bottom: 0.5em;
                border-bottom: 1px solid #d2d2d2;
            }
            .logo {
                img {
                    width: 60%;
                    max-width: 120px;
                    @media screen and (max-width: 991px) {
                        width: 75%;
                    }
                    @media screen and (max-width: 575px) {
                        width: 90%;
                    }
                }
            }
            .header {
                display: flex;
                width: 100%;
                align-items: center;
                @media screen and (max-width: 575px) {
                    justify-content: flex-end;
                }
                .search-toggle {
                    @media screen and (min-width: 576px) {
                        display: none;
                    }
                    @media screen and (max-width: 575px) {
                        width: 30px;
                        cursor: pointer;
                    }
                    color: #8a8a8a;
                    transition: all 0.1s linear;
                    &:hover {
                        color: #444;
                    }
                }

                .search-bar {
                    @media screen and (min-width: 576px) {
                        width: 100%;
                        position: relative;
                        .search-close {
                            display: none;
                        }
                    }
                    .search-close {
                        display: none;
                    }

                    .form-control {
                        background: transparent;
                        border: none;
                        outline: 0px !important;
                        -webkit-appearance: none;
                        box-shadow: none !important;
                        height: 100%;
                        padding-left: 2em;
                        font-size: 14px;
                        @include mx575 {
                            display: none;
                        }
                        &:focus {
                            outline: 0px !important;
                            -webkit-appearance: none;
                            box-shadow: none !important;
                        }
                        &:active {
                            outline: 0px !important;
                            -webkit-appearance: none;
                            box-shadow: none !important;
                        }
                        &::placeholder {
                            color: #adadad;
                        }
                    }
                    &::before {
                        content: "\f002";
                        top: 50%;
                        left: 0;
                        transform: translate(0, -50%);
                        font-family: "Font Awesome 6 Free";
                        font-family: var(--fa-style-family, "Font Awesome 6 Free");
                        font-weight: 900;
                        @media screen and (min-width: 576px) {
                            position: absolute;
                        }
                        @media screen and (max-width: 575px) {
                            display: none;
                        }
                    }
                    &.open {
                        @media screen and (max-width: 575px) {
                            .search-close {
                                font-size: 24px;
                                display: block;
                                position: absolute;
                                right: 0.75em;
                                top: 50%;
                                transform: translate(0, -50%);
                                color: #8a8a8a;
                                cursor: pointer;
                                transition: all 0.1s linear;
                                &:hover {
                                    color: #444;
                                }
                            }
                        }
                        @media screen and (max-width: 767px) {
                            display: block;
                            position: fixed;
                            background: #ffffff;
                            top: 15px;
                            left: 15px;
                            width: calc(100% - 30px);
                            height: 55px;
                            z-index: 1;
                            border-radius: 15px;
                            box-shadow: 0 0 10px #84848470;
                            &::before {
                                display: block;
                                position: absolute;
                                left: 8px;
                            }
                            .form-control {
                                display: block;
                                padding-right: 3em;
                            }
                        }
                    }
                }
                .menu {
                    @media screen and (min-width: 576px) {
                        margin-left: auto;
                    }
                    @media screen and (min-width: 992px) {
                        width: 55%;
                    }

                    &-toggle {
                        height: 100%;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        font-size: 24px;
                        color: #8a8a8a;
                        transition: all 0.1s linear;
                        &:hover {
                            color: #444;
                        }
                        @media screen and (min-width: 992px) {
                            display: none;
                        }
                    }
                    ul {
                        margin: 0;
                        padding: 0;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        @media screen and (max-width: 991px) {
                            position: fixed;
                            width: 100%;
                            max-width: 225px;
                            left: -100%;
                            top: 0;
                            height: 100%;
                            background-image: linear-gradient(120deg, #a6c0fef0 0%, #f68084 100%);
                            display: block;
                            z-index: 1;
                            padding: 0.5em;
                            transition: all 0.3s cubic-bezier(0.8, 0.35, 0.2, 0.65);
                            border-top-right-radius: 2em;
                            box-shadow: 0 0 10px #717171b8;

                            li {
                                a {
                                    padding: 10px !important;
                                    border-radius: 5px;
                                    &.active {
                                        border: 2px solid transparent !important;
                                    }
                                }
                                &:hover {
                                    a {
                                        border-bottom: 2px solid transparent !important;
                                        background-color: #dedede;
                                    }
                                }
                            }
                        }
                        &.open {
                            left: 0;
                        }

                        li {
                            list-style-type: none;
                            padding: 5px 10px;
                            @media screen and (max-width: 1199px) {
                                padding: 5px;
                            }

                            a {
                                font-weight: 700;
                                display: block;
                                padding: 5px 0;
                                text-decoration: none;
                                color: #444;
                                font-size: 14px;
                                border-bottom: 2px solid transparent;
                                &.active {
                                    border-bottom: 2px solid #444;
                                }
                            }
                            &:hover {
                                a {
                                    @media screen and (min-width: 992px) {
                                        border-bottom: 2px solid #444 !important;
                                    }
                                }
                                &:nth-last-child(-n + 2) {
                                    a {
                                        border-bottom: 2px solid transparent !important;
                                        background-color: #dedede;
                                        border-radius: 5px;
                                    }
                                }
                            }
                            &:nth-last-child(-n + 2) {
                                margin: 0;
                                a {
                                    padding: 10px;
                                }
                            }
                        }

                        &:hover {
                            li {
                                a {
                                    &.active {
                                        border-bottom: 2px solid transparent;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        main {
            .sidebar {
                height: 100%;
                .sidebar-title {
                    font-weight: 700;
                    margin-bottom: 1em;
                }
                ul {
                    padding: 0;
                    margin: 0;
                    li {
                        list-style-type: none;
                        margin-bottom: 0.5em;
                        cursor: pointer;
                        position: relative;
                        border-radius: 5px;
                        overflow: hidden;

                        a {
                            color: #444;
                            text-decoration: none;
                            font-weight: 700;
                            font-size: 12px;

                            @media screen and (max-width: 767px) {
                                display: flex;
                                padding: 0.25em 2em 0.25em 0.5em;
                                align-items: center;
                                justify-content: space-between;
                                &:hover {
                                    background: #eaeaea;
                                }
                            }

                            span {
                                margin-right: 10px;
                                font-size: 16px;
                                @media screen and (max-width: 767px) {
                                    float: left;
                                }
                            }
                        }
                        &::before {
                            content: "";
                            width: 0;
                            height: 100%;
                            background-color: #8ec5fc;
                            background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
                            position: absolute;
                            right: 0;
                            top: 0;
                            transition: all 0.2s linear;
                        }
                        &:hover {
                            &::before {
                                width: 10px;
                            }
                        }
                    }
                }
                .help-center {
                    position: absolute;
                    bottom: 0;
                    font-weight: 700;
                    font-size: 12px;
                    color: #444;
                    cursor: pointer;
                    @media screen and (max-width: 767px) {
                        position: inherit;
                    }

                    i.fa {
                        font-size: 16px;
                        background-color: white;
                        width: 35px;
                        height: 35px;
                        line-height: 35px;
                        text-align: center;
                        border-radius: 100%;
                        margin-right: 15px;
                    }
                }
            }
            .content {
                animation: bottom 0.8s 0s both;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 10px;
                @media screen and (max-width: 575px) {
                    display: block;
                }
                @media screen and (max-width: 767px) {
                    margin-bottom: 1em;
                }
                &-list {
                    display: grid;
                    grid-gap: 10px;
                    @media screen and (max-width: 575px) {
                        margin-bottom: 10px;
                    }

                    &.vertical {
                        grid-template-columns: repeat(2, 1fr);
                    }
                    &.horizontal {
                        grid-template-columns: repeat(1, 1fr);
                    }
                    &-item {
                        border-radius: 10px;
                        overflow: hidden;
                        background-color: burlywood;
                        position: relative;
                        &::after {
                            font-family: "Font Awesome 6 Free";
                            font-family: var(--fa-style-family, "Font Awesome 6 Free");
                            content: "\f004";
                            position: absolute;
                            width: 30px;
                            height: 30px;
                            background-color: white;
                            top: 15px;
                            right: 15px;
                            border-radius: 100%;
                            text-align: center;
                            line-height: 30px;
                            font-size: 14px;
                            box-shadow: 0 0 10px #bdbdbd70;
                            transition: all 0.2s linear;
                            cursor: pointer;
                        }
                        &:hover {
                            &::after {
                                background-color: red;
                                color: #fff;
                            }
                        }
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            transform: scale(1.15);
                        }
                    }
                }
            }
        }
    }
}

@keyframes bottom {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: none;
    }
}
